/* PACKAGES */
.packages {
    width: 100%;
    padding: 10rem 3rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.packages-heading {
    text-align: center;
}

.packages-heading p:nth-child(1) {
    color: var(--clr-dark-theme);
    font-family: var(--ff-poppins);
    font-weight: var(--fw-700);
    font-size: 1rem;
}

.packages-heading p:nth-child(2) {
    color: var(--clr-light-theme);
    font-family: var(--ff-poppins);
    font-weight: var(--fw-500);
    font-size: 1.75rem;
}

.packages-content {
    margin-top: 1rem;
    width: 100%;
}

.packages-content-no-package {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.packages-content-one-package {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.packages-content-two-packages {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 2rem;
    gap: 2rem;
    justify-items: center;
}

.packages-content-three-packages {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 2rem;
    gap: 2rem;
    justify-items: center;
}

.packages-content-warning {
    color: var(--clr-black);
    font-family: var(--ff-poppins);
    font-weight: var(--fw-300);
    font-size: 1.25rem;
    text-align: center;
}

.packages-content .swiper-slide,
.packages-content swiper-slide {
    height: auto;
}

.packages-content .package-card {
    height: 100%;
}

.packages-content .swiper {
    padding: 1rem 1rem 4rem;
}

.packages-content .swiper-button-next, .packages-content .swiper-button-prev {
    color: var(--clr-light-theme);
}

.packages-content .swiper-pagination-bullet-active {
    color: var(--clr-light-theme);
}

.packages-content .swiper-horizontal>.packages-content .swiper-pagination-bullets,
.packages-content .swiper-pagination-bullets.swiper-pagination-horizontal,
.packages-content .swiper-pagination-custom,
.packages-content .swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, 2rem);
}

@media(min-width: 500px) {
    .packages-content {
        max-width: 25rem;
    }

    .packages-content-three-packages {
        max-width: 25rem;
    }

    .packages-content-two-packages {
        max-width: 25rem;
    }
}

@media(min-width: 900px) {
    .packages-content {
        max-width: 50rem;
    }

    .packages-content-three-packages {
        grid-template-columns: repeat(2, 1fr);
        max-width: 50rem;
    }

    .packages-content-two-packages {
        grid-template-columns: repeat(2, 1fr);
        max-width: 50rem;
    }
}

@media(min-width: 1150px) {
    .packages-content {
        max-width: 75rem;
    }

    .packages-content-three-packages {
        grid-template-columns: repeat(3, 1fr);
        max-width: 75rem;
    }
}