/* PACKAGES */
.packages {
    width: 100%;
    padding: 10rem 3rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.packages-heading {
    text-align: center;
}

.packages-heading p:nth-child(1) {
    color: var(--clr-dark-theme);
    font-family: var(--ff-poppins);
    font-weight: var(--fw-700);
    font-size: 1rem;
}

.packages-heading p:nth-child(2) {
    color: var(--clr-light-theme);
    font-family: var(--ff-poppins);
    font-weight: var(--fw-500);
    font-size: 1.75rem;
}

.packages-content {
    margin-top: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 2rem;
}

.packages-content-flex {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.packages-content-warning {
    color: var(--clr-black);
    font-family: var(--ff-poppins);
    font-weight: var(--fw-300);
    font-size: 1.25rem;
    text-align: center;
}

@media(min-width: 900px) {
    .packages-content {
        grid-template-columns: repeat(2, 1fr);
        max-width: 75rem;
    }
}

@media(min-width: 1250px) {
    .packages-content {
        grid-template-columns: repeat(3, 1fr);
    }
}