/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

*::before, *::after {
    box-sizing: border-box;
}

:root {
    /* Colors */
    --clr-light-theme: #0466c8;
    --clr-dark-theme: #0353a4;
    --clr-white: #ffffff;
    --clr-light-gray: #f2f2f2;
    --clr-dark-gray: #cccccc;
    --clr-black: #000000;

    /* Font Families */
    --ff-roboto: 'Roboto', sans-serif;
    --ff-poppins: 'Poppins', sans-serif;

    /* Font Weight */
    --fw-700: 700;
    --fw-500: 500;
    --fw-400: 400;
    --fw-300: 300;

    /* Transition */
    --transition: 0.25s ease-in-out;
}

/* HTML */
html {
    background-color: var(--clr-dark-gray);
    scroll-behavior: smooth;
}

/* CONTAINER */
.container {
    width: 100%;
    position: relative;
    overflow: hidden;
}

/* NAVBAR */
.navbar {
    background-color: transparent;
    width: 100%;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    z-index: 100;
}

.navbar.scrolled {
    background-color: var(--clr-light-gray);
}

.navbar.scrolled #mobile-bars span {
    background-color: var(--clr-black);
}

.navbar.scrolled .navbar-link {
    color: var(--clr-black);
}

.navbar-content-mobile {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-content-mobile img {
    width: 4rem;
}

#mobile-bars {
    cursor: pointer;
    display: block;
    width: 1.75rem;
}

#mobile-bars span {
    display: block;
    font-size: 2.5rem;
    width: 100%;
    height: 0.3rem;
    border-radius: 0.5rem;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    margin: 0.25rem 0;
    background-color: var(--clr-white);
}

#mobile-bars.active span:nth-child(2) {
    opacity: 0;
}

#mobile-bars.active span:nth-child(1) {
    transform: translateY(0.53rem) rotate(50deg);
}

#mobile-bars.active span:nth-child(3) {
    transform: translateY(-0.53rem) rotate(-50deg);

}

.navbar-dropdown {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--clr-light-gray);
    display: flex;
    flex-direction: column;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    transform: translateY(-100%);
    border-top: 0.1rem solid var(--clr-black);
}

.navbar-dropdown.active {
    transform: translateY(36%);
}

.navbar-dropdown-link {
    cursor: pointer;
    padding: 2rem 1rem;
    color: var(--clr-black);
    font-size: 1rem;
    font-family: var(--ff-poppins);
}

.navbar-dropdown-link:hover {
    background-color: #7a7a7a;
}

.navbar-content {
    display: none;
}

@media(min-width: 700px) {

    .navbar {
        padding: 1rem 4rem;
    }

    .navbar-content-mobile {
        display: none;
    }

    .navbar-content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-content img {
        width: 4rem;
    }

    .navbar-links {
        width: 17rem;
        display: flex;
        justify-content: space-between;
    }

    .navbar-link {
        cursor: pointer;
        color: var(--clr-white);
        font-size: 1rem;
        font-family: var(--ff-poppins);
        position: relative;
    }

    .navbar-link::after {
        content: '';
        position: absolute;
        background-color: var(--clr-dark-theme);
        width: 0%;
        height: 0.125rem;
        left: 0;
        bottom: -0.125rem;
        border-radius: 2rem;
        transition: var(--transition);
        -webkit-transition: var(--transition);
    }

    .navbar-link:hover::after {
        width: 100%;
    }
}

/* HERO */
.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../zimg/hero.jpg);
    background-position: center;
    background-size: cover;
    padding: 0 2rem;
}

.hero-content {
    text-align: center;
    margin-top: 1.25rem;
}

.hero-title {
    color: var(--clr-white);
    font-size: 1.85rem;
    font-family: var(--ff-poppins);
    font-weight: var(--fw-700);
}

.hero-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.hero-item {
    margin: 1rem 0;
    width: 50%;
}

.hero-item-icon {
    color: var(--clr-light-theme);
    font-size: 4rem;
}

.hero-item-bio {
    color: var(--clr-white);
    font-size: 0.75rem;
    font-family: var(--ff-poppins);
    font-weight: var(--fw-500);
}

@media(min-width: 700px) {

    .hero-content {
        width: 75%;
    }

    .hero-items {
        flex-direction: row;
        justify-content: space-between;
    }

    .hero-item {
        width: 30%;
    }

    .hero-title {
        font-size: 3rem;
    }

    .hero-item-icon {
        font-size: 5rem;
    }

    .hero-item-bio {
        font-size: 1rem;
    }
}

/* ABOUT */
.about {
    width: 100%;
    padding: 4rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-heading {
    text-align: center;
}

.about-heading p:nth-child(1) {
    color: var(--clr-dark-theme);
    font-family: var(--ff-poppins);
    font-weight: var(--fw-700);
    font-size: 1rem;
}

.about-heading p:nth-child(2) {
    color: var(--clr-light-theme);
    font-family: var(--ff-poppins);
    font-weight: var(--fw-500);
    font-size: 1.75rem;
}

.about-img {
    display: none;
}

.about-card {
    background-color: var(--clr-white);
    border-radius: 1rem;
    padding: 2rem;
    margin-top: 2rem;
    box-shadow: 0 0 1rem rgb(0 0 0 / .3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 40rem;
}

.about-card-bio {
    font-family: var(--ff-poppins);
    font-size: 0.9rem;
    text-align: center;
    padding-bottom: 1.5rem;
    border-bottom: 0.1rem solid var(--clr-light-gray);
}

.about-card-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
}

.about-card-list-item {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

.about-list-icon {
    color: var(--clr-light-theme);
    font-size: 1.5rem;
}

.about-list-title {
    font-family: var(--ff-poppins);
    font-size: 0.8rem;
    margin-left: 1rem;
    color: #7a7a7a;
}

@media(min-width: 600px) {
    .about-card-bio {
        font-size: 1.15rem;
    }

    .about-list-icon {
        font-size: 1.75rem;
    }

    .about-list-title {
        font-size: 1.05rem;
    }
}

@media(min-width: 1100px) {
    .about-content {
        display: flex;
        align-items: center;
        margin-top: 2rem;
    }

    .about-img {
        display: flex;
        max-width: 20rem;
        border-radius: 1rem;
        overflow: hidden;
        margin-right: 5rem;
        box-shadow: 0 0 1rem rgb(0 0 0 / .4);
    }

    .about-img img {
        display: block;
        width: 100%;
        height: 100%;
    }

    .about-card {
        margin-top: 0;
    }
}

/* PROJECTS */
.projects {
    width: 100%;
    padding: 4rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-heading {
    text-align: center;
}

.projects-heading p:nth-child(1) {
    color: var(--clr-dark-theme);
    font-family: var(--ff-poppins);
    font-weight: var(--fw-700);
    font-size: 1rem;
}

.projects-heading p:nth-child(2) {
    color: var(--clr-light-theme);
    font-family: var(--ff-poppins);
    font-weight: var(--fw-500);
    font-size: 1.75rem;
}

.projects-content {
    margin-top: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
}

.project-card {
    width: 15rem;
    overflow: hidden;
    border-radius: 1rem;
    position: relative;
    margin-bottom: 3rem;
}

.project-card img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-card-overlay {
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: var(--transition);
    -webkit-transition: var(--transition);
}

.project-card:hover .project-card-overlay {
    opacity: 1;
}


.project-card-overlay button {
    background-color: transparent;
    border: 0.1rem solid var(--clr-white);
    cursor: pointer;
    padding: 0.5rem 1rem;
    color: var(--clr-white);
    font-family: var(--ff-poppins);
    border-radius: 0.5rem;
    font-weight: var(--fw-700);
    transition: var(--transition);
}

.project-card-overlay button:hover {
    background-color: var(--clr-white);
    color: var(--clr-black);
}

@media(min-width: 650px) {
    .projects-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 900px) {
    .projects-content {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(min-width: 1000px) {
    .projects-content {
        max-width: 57rem;
    }
}