.package-card {
    background-color: var(--clr-white);
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 1rem rgb(0 0 0 / 0.3);
}

.package-card-heading {
    color: var(--clr-dark-theme);
    font-size: 1.25rem;
    font-weight: var(--fw-700);
    font-family: var(--ff-poppins);
    text-align: center;
}

.package-card-price-list {
    margin-top: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 1rem;
}

.package-card-price-list-one {
    margin-top: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
}

.package-card-price {
    text-align: center;
}

.package-card-price p:nth-child(1) {
    color: var(--clr-black);
    font-size: 1rem;
    font-weight: var(--fw-500);
    font-family: var(--ff-poppins);
}

.package-card-price p:nth-child(2) {
    color: var(--clr-light-theme);
    font-size: 1.5rem;
    font-weight: var(--fw-700);
    font-family: var(--ff-poppins);
}

.package-card-features {
    margin: 1rem 0 2rem;
    padding-top: 1rem;
    border-top: 0.1rem solid var(--clr-dark-gray);
    list-style: none;
}

.package-card-features li {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

.package-card-features-icon-green {
    color: #aaf683;
    font-size: 1.5rem;
}

.package-card-features-icon-blue {
    color: #70d6ff;
    font-size: 1.5rem;
}

.package-card-features li p {
    margin-left: 0.5rem;
    color: #7a7a7a;
    font-size: 0.9rem;
    font-weight: var(--fw-300);
    font-family: var(--ff-poppins);
}


.package-card button {
    margin-top: 1rem;
    background-color: var(--clr-light-theme);
    color: var(--clr-white);
    font-size: 1rem;
    font-weight: var(--fw-500);
    font-family: var(--ff-poppins);
    outline: none;
    border: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    margin-top: auto;
}

.package-card button:hover {
    background-color: var(--clr-dark-theme);
}