.project-card {
    width: 15rem;
    overflow: hidden;
    border-radius: 1rem;
    position: relative;
    margin-bottom: 3rem;
}

.project-card img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
}

.project-card-overlay {
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: var(--transition);
    -webkit-transition: var(--transition);
}

.project-card:hover .project-card-overlay {
    opacity: 1;
}


.project-card-overlay button {
    background-color: var(--clr-white);
    color: var(--clr-black);
    border: 0.1rem solid var(--clr-white);
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-family: var(--ff-poppins);
    border-radius: 0.5rem;
    font-weight: var(--fw-700);
    transition: var(--transition);
}