.faqs-add {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.faq-add-heading {
    color: var(--clr-black);
    font-family: var(--ff-poppins);
    font-weight: var(--fw-700);
    font-size: 1.5rem;
}

.faq-add-question-input,
.faq-add-answer-input {
    padding: 0.5rem;
    outline: none;
    border: 0.1rem solid var(--clr-black);
    border-radius: 0.5rem;
    font-family: var(--ff-poppins);
    margin: 0.75rem;
}

.faq-add-answer-input {
    resize: none;
}

.faq-add-btns {
    display: flex;
    margin-top: 1rem;
}

.faq-add-submit-btn,
.faq-add-cancel-btn {
    outline: none;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    font-family: var(--ff-poppins);
    margin: 0 1rem;
}

.faq-add-submit-btn {
    border: none;
    background-color: var(--clr-dark-theme);
    color: var(--clr-white);
}

.faq-add-cancel-btn {
    border: 0.1rem solid var(--clr-black);
    background-color: var(--clr-light-gray);
    color: var(--clr-black);
}

.faq-add-warning {
    margin-top: 1rem;
    font-family: var(--ff-poppins);
    font-weight: var(--fw-500);
    font-size: 1rem;
}