/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

*::before, *::after {
    box-sizing: border-box;
}

:root {
    /* Colors */
    --clr-light-theme: #0466c8;
    --clr-dark-theme: #0353a4;
    --clr-white: #ffffff;
    --clr-light-gray: #f2f2f2;
    --clr-dark-gray: #cccccc;
    --clr-black: #000000;

    /* Font Families */
    --ff-roboto: 'Roboto', sans-serif;
    --ff-poppins: 'Poppins', sans-serif;

    /* Font Weight */
    --fw-700: 700;
    --fw-500: 500;
    --fw-400: 400;
    --fw-300: 300;

    /* Transition */
    --transition: 0.25s ease-in-out;
}

/* HTML */
html {
    background-color: var(--clr-dark-gray);
    scroll-behavior: smooth;
}

/* CONTAINER */
.container {
    width: 100%;
    position: relative;
    overflow: hidden;
}

/* SIDENAV */
.sidenav {
    background-color: var(--clr-dark-theme);
    height: 100vh;
    width: 5rem;
    position: fixed;
    padding: 1rem 0;
}

.sidenav-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sidenav-icon {
    cursor: pointer;
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
}

.sidenav-icon:last-child {
    margin-top: auto;
}

.sidenav-icon:hover {
    background-color: var(--clr-light-theme);
}

.sidenav-icon span {
    color: var(--clr-light-gray);
    font-size: 2rem;
}

.sidenav-icon:hover span {
    color: var(--clr-white);
}

/* DASHBOARD */
.dashboard {
    margin-left: 5rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.dashboard-card {
    background-color: var(--clr-white);
    width: 80%;
    height: 80vh;
    border-radius: 1rem;
    padding: 2rem;
}

/* PACKAGES UPDATE */

.packages-update {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.package-update-heading {
    color: var(--clr-black);
    font-family: var(--ff-poppins);
    font-weight: var(--fw-700);
    font-size: 1.5rem;
}

.package-update-name-input,
.package-update-type-input,
.package-update-price-input,
.package-update-feature-input {
    padding: 0.5rem;
    outline: none;
    border: 0.1rem solid var(--clr-black);
    border-radius: 0.5rem;
    font-family: var(--ff-poppins);
    margin: 0.75rem;
}

.package-update-prices {
    display: flex;
}

.package-update-prices-input-btn,
.package-update-features-input-btn {
    outline: none;
    border: none;
    background-color: var(--clr-dark-theme);
    padding: 1rem;
    clip-path: circle();
    cursor: pointer;
    color: var(--clr-white);
    font-family: var(--ff-poppins);
    font-size: 1rem;
}

.package-update-btns {
    display: flex;
    margin-top: 1rem;
}

.package-update-submit-btn,
.package-update-cancel-btn {
    outline: none;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    font-family: var(--ff-poppins);
    margin: 0 1rem;
}

.package-update-submit-btn {
    border: none;
    background-color: var(--clr-dark-theme);
    color: var(--clr-white);
}

.package-update-cancel-btn {
    border: 0.1rem solid var(--clr-black);
    background-color: var(--clr-light-gray);
    color: var(--clr-black);
}

@media(max-width: 600px) {
    .package-update-prices {
        flex-direction: column;
    }
}