.proj-modal-overlay {
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.proj-modal {
    width: 60rem;
    height: 35rem;
    background-color: var(--clr-black);
    position: relative;
}

.proj-modal-close {
    font-size: 2.25rem;
    position: absolute;
    top: 4%;
    right: 3%;
    font-weight: bolder;
    color: var(--clr-white);
    cursor: pointer;
}

.proj-modal-prevArr,
.proj-modal-nextArr {
    position: absolute;
    color: var(--clr-light-theme);
    font-size: 4rem;
    top: 50%;
    cursor: pointer;
    transform: translate(0, -50%);
}

.proj-modal-prevArr {
    left: 1.5%;
}

.proj-modal-nextArr {
    right: 1.5%;
}

.proj-modal-slider {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media(max-width: 850px) {
    .proj-modal {
        width: 55rem;
        height: 25rem;
    }
}

@media(max-width: 550px) {
    .proj-modal {
        height: 20rem;
    }
}