.projects-update {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-update-heading {
    font-family: var(--ff-poppins);
    font-weight: var(--fw-700);
    font-size: 2rem;
    text-align: center;
}

.project-update-title-input {
    outline: none;
    padding: 1rem;
    border-radius: 1rem;
    border: 0.1rem solid var(--clr-black);
    font-family: var(--ff-poppins);
    margin-top: 1rem;
}

.project-update-files-input {
    width: fit-content;
    cursor: pointer;
    margin-top: 1rem;
}

.project-update-btns {
    display: flex;
    margin-top: 1rem;
}

.project-update-submit-btn {
    outline: none;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--clr-dark-theme);
    color: var(--clr-white);
    cursor: pointer;
    font-family: var(--ff-poppins);
    margin: 0 1rem;
}

.project-update-cancel-btn {
    outline: none;
    border: 0.1rem solid var(--clr-black);
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--clr-light-gray);
    color: var(--clr-black);
    cursor: pointer;
    font-family: var(--ff-poppins);
    margin: 0 1rem;
}