.sidenav {
    background-color: var(--clr-dark-theme);
    height: 100vh;
    width: 5rem;
    position: fixed;
    padding: 1rem 0;
    overflow: hidden;
}

.sidenav-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sidenav-icon {
    cursor: pointer;
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
}

.sidenav-icon:last-child {
    margin-top: auto;
}

.sidenav-icon:hover {
    background-color: var(--clr-white);
}

.sidenav-icon span {
    font-size: 2rem;
}

.sidenav-icon:hover span {
    color: var(--clr-dark-theme);
}

.selected-white {
    background-color: var(--clr-white);
}

.selected-blue {
    color: var(--clr-dark-theme);
}

@media(max-width: 600px) {
    .sidenav {
        height: 5rem;
        width: 100%;
        padding: 0;
    }
    .sidenav-content {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .sidenav-icon {
        padding: 1.5rem 0;
    }
    .sidenav-icon:last-child {
        margin-top: 0;
    }
}