<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="./View.css">
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@300;500;700&display=swap"
        rel="stylesheet">
    <!-- GOOGLE ICONS -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/jpg" href="../../../zimg/logo.png" />
    <title>Dashboard | Reviews</title>
</head>

<body>

    <div class="container">

        <nav class="sidenav">
            <div class="sidenav-content">
                <a class="sidenav-icon">
                    <span class="material-symbols-rounded">
                        directions_car
                    </span>
                </a>
                <a class="sidenav-icon">
                    <span class="material-symbols-rounded">
                        request_quote
                    </span>
                </a>
                <a class="sidenav-icon">
                    <span class="material-symbols-rounded">
                        live_help
                    </span>
                </a>
                <a class="sidenav-icon">
                    <span class="material-symbols-rounded">
                        hotel_class
                    </span>
                </a>
                <a class="sidenav-icon">
                    <span class="material-symbols-rounded">
                        settings
                    </span>
                </a>
            </div>
        </nav>

        <section class="dashboard">

            <div class="dashboard-card">

                <div class="reviews-view">
                    <div class="add-review-card">
                        <span class="material-symbols-rounded">
                            add
                        </span>
                    </div>

                    <div class="review-card">
                        <p>Logan</p>
                        <p>4 stars</p>
                        <p>So like this is a totes cool guy and i reccommend him to errbodyke this is a totes cool guy
                            and i reccommend him to errbodyke this is a totes cool guy and i reccommend him to errbodyke
                            this is a totes cool guy and i reccommend him to errbody ke this is a totes cool guy and i
                            reccommend him to errbodyke this is a totes cool guy and i reccommend him to errbody</p>
                        <div class="review-card-options">
                            <span class="material-symbols-rounded">
                                edit
                            </span>
                            <span class="material-symbols-rounded">
                                delete
                            </span>
                        </div>
                    </div>

                    <div class="review-card">
                        <p>Jasper</p>
                        <p>1 stars</p>
                        <p>Yo what da fuq is dos shite mate</p>
                        <div class="review-card-options">
                            <span class="material-symbols-rounded">
                                edit
                            </span>
                            <span class="material-symbols-rounded">
                                delete
                            </span>
                        </div>
                    </div>

                </div>

            </div>

        </section>

    </div>


</body>

</html>